<Alloy>
	<Window id="settings" title="Settings" onOpen="doOpen">	
		<!--This only holds text. I'm too stupid to make list/tableViews -->
		<Label id="Push" text="Push Notifications" />
		<Label id="Login" text="Log In To your Account"/>
		<!--pushSwitch will be working in the future -->
		<Switch id="pushSwitch" value="true" onChange="outputState"/>
		<Button id="loginButton" onClick="clickedLogin" color="#fff" title="Login"/>
	</Window>
</Alloy>